<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <header>
    <% include ./partials/_header %>
  </header>
  <p style="margin:12px; font-size:16px"><a href='/urls/'>
      Home</a> / Edit Links</p>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th style="border:none">TinyURL</th>
        <th style="border:none">Website</th>
        <th style="border:none">Edit Your Link</th>
      </tr>
      <tr>
        <td style="border:none"><a href="<%= longURL %>">
            <%= shortURL %></a></td>
        <td style="border:none">
          <%= longURL %>
        </td>
        <!--    Form to edit links -->
        <td style="border:none">
          <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
            <div class="form-group mb-2">
              <input class="form-control" type="text" name="newname" placeholder="https://" style="width: 400px; margin-right: 1em">
              <button type="submit" class="btn btn-primary">EDIT</button>
            </div>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>